@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&family=Nunito:wght@500;600;700&family=Roboto+Mono:wght@300;400;600&family=Roboto:wght@300;400;500;700;900&display=swap');

html{
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Lato', sans-serif; */
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* background-color: black; */
}

/* *************** */
.container-home, .container-login{
    width: 100%;
    height: 100%;
    background-image: url(../views/img/bckground1.jpg);
    background-repeat: no-repeat; 
     /* background-position: center; */
    background-size: cover;
}
/* .container-content-mobile-tablet{

} */
                                        /*              HOME SITE               */
/*      Header       */
    /* Logo */
    .logo{
        margin-top: 30px;
        background-color: black;
        padding: 20px;
        border-radius: 5px;
    }
    .logo a{
        height: 100%;
        display: block;
    }
    .logo img{
        /* width: 10%; */
        width: 100%;
    }
    /* Notification */
    .notifi_container{
        margin-top: 30px;
        background-color: white;
        height: 68.5%;
        border-radius: 5px;
        /* border: solid #b2e7ff .5px; */
    }

/*      Sidebar      */
@keyframes fadein{
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}
.side-bar{
    background-color: black;
    border-radius: 5px;
    padding: 3px 3px 1px 3px;
    list-style: none;
    margin: 0;
}
    .side-bar li{
        text-align: center;
    }
    .side-bar li button{
        background-color: transparent;
        border: none;
        color: white;
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 3px;
        width: 100%;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
        z-index: 9999;
    }
    .side-bar li button:hover{
        background-color: rgba(96, 95, 95, 0.752);
        transition: 0.05s;
    }
    .side-bar-button{
        background-color: #0b0b0bbf;
        border: none;
        width: 100%;
        border-radius: 5px;
        height: 50px;
        cursor: pointer;
    }
    .side-bar-button:hover{
        background-color: rgba(26, 26, 26, 0.664);
        transition: all .4s;
    }
    .side-bar-button:hover span{
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    .side-bar-button span{
        color: grey;
        font-size: 50px;
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
    }

/*              CONTAINER CONTENT                */
.container-content{
    background-color: white;
    border: solid #b2e7ff .5px;
    /* width: 103.8%; */
    width: 100%;
    height: 100%;
    /* border-radius: 5px 0px 0px 0px; */
    border-radius: 5px;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}

                                        /*              LOGIN SITE               */
.form-login{
    background-color: transparent;
    backdrop-filter: blur(100px);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.form-login input{
    border: none;
    padding: 15px;
    color: #262624;
    /* background: transparent; */
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    margin-bottom: 20px;
    width: 100%;
}
.form-login .btnContinue{
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 15px;
    /* background-color: transparent; */
    color: black;
    margin-bottom: 20px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    background-image: url(https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703808000&semt=ais);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
    border: 1px solid black;
}

/*          Create new Account CSS       */
.createaccount{
    border: 1px solid black ; 
    /* margin-left: 181.5px;  */
    border-radius: 6px;
    /* width: 330.25px;  */
    background-image: url(https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703808000&semt=ais); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
}
.createaccount .textcreateaccount{
    font-size: 14px; 
    text-align: center;
}
.form-login .btnCreateAcc{
    border: none;
    border-radius: 0px 6px 6px 0px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.form-login .btnContinue:hover{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(0, 0, 0, 0.59) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.form-login .btnCreateAcc:hover{
    scale: .9;
    border-radius: 6px;
    margin-right: -12px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/*          Forget Password CSS          */
.forgetpass{
    font-size: 14px; 
    text-align: center; 
    padding: 15px;
}
.forgetpass a{
    color: blue;
}
/*          Other way login CSS         */
.otherlogin{
    text-align: center; 
    border: 1px solid black ;
    margin-bottom: 40px; 
    border-radius: 6px;
    /* width: 330.25px;  */
    background-image: url(https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703808000&semt=ais); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
}
.otherlogin p{
    font-size: 14px; 
    width: 100%; 
    padding-bottom: 10px; 
    border-bottom: 1px dashed black;
}
.containerotherwaylogo{
    padding-bottom: 10px;
}
.containerotherwaylogo a img{
    width: 30px;
    height: 30px;
    margin: 2px;
}
.containerotherwaylogo a img:hover{
    border-radius: 3px;
    background-color: #80808036;
    padding: 2px;
}

    

/*              MEDIA QUERY                */
/*   Mobile   */
/***** Thiết bị có kích thước màn hình *****/
@media (max-width: 1023px) {
    /*      HEADER      */
        /* Logo */
        .logo{
            margin-top: 5px;
            background-color: black;
            padding: 0px;
            border-radius: 5px;
            text-align: center;
        }
        .logo a{
            height: 100%;
            display: block;
        }
        .logo img{
            /* width: 10%; */
            width: 50%;
        }
        /* Notification */
        .notifi_container{
            margin-top: 5px;
            height: 93%;
            border-radius: 5px;
        }
        /* Side bar */
        /* #sidebarcontainermobile{
            display: none;
        } */
        .side-bar li button{
            padding: 40px 60px 40px 60px;
        }
    /*          MAIN         */
    

    /*          LOGIN SITE             */
    .form-login{
        margin-top: 20px;
    }
    .logo a{
        padding: 20px;
    }
}
/*   Tablet   */
/***** Thiết bị có kích thước màn hình >= 740px (màn từ Tablet trở lên) *****/
@media (min-width: 740px) {
    
}
/***** Thiết bị có kích thước màn hình 740px - 1023px (màn của Tablet or Laptop có màn nhỏ) *****/
@media (min-width: 740px) and (max-width: 1023px) {
    
}
/*   PC   */
/***** Thiết bị có kích thước màn hình 1024px - 1239px (màn của PC or Laptop) *****/
@media (min-width: 1024px) and (max-width: 1239px) {
    
}
/***** Thiết bị có kích thước màn hình >= 1113px (PC or Laptop có màn lớn) *****/
@media (min-width: 1113px){
    
}