html{
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* background-color: black; */
}

/* *************** */
.container-home, .container-login{
    width: 100%;
    height: 100%;
    background-image: url(../views/img/bckground1.jpg);
    background-repeat: no-repeat; 
     /* background-position: center; */
    background-size: cover;
}
/* .container-content-mobile-tablet{

} */
                                        /*              HOME SITE               */
/*      Header       */
    /* Logo */
    .logo{
        margin-top: 30px;
        background-color: black;
        padding: 20px;
        border-radius: 5px;
    }
    .logo a{
        height: 100%;
        display: block;
    }
    .logo img{
        /* width: 10%; */
        width: 100%;
    }
    /* Notification */
    .notifi_container{
        margin-top: 30px;
        background-color: white;
        height: 68.5%;
        border-radius: 5px;
        /* border: solid #b2e7ff .5px; */
    }

/*      Sidebar      */
@keyframes fadein{
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}
.side-bar{
    background-color: black;
    border-radius: 5px;
    padding: 3px 3px 1px 3px;
    list-style: none;
    margin: 0;
}
    .side-bar li{
        text-align: center;
    }
    .side-bar li button{
        background-color: transparent;
        border: none;
        color: white;
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 3px;
        width: 100%;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
        z-index: 9999;
    }
    .side-bar li button:hover{
        background-color: rgba(96, 95, 95, 0.752);
        transition: 0.05s;
    }
    .side-bar-button{
        background-color: #0b0b0bbf;
        border: none;
        width: 100%;
        border-radius: 5px;
        height: 50px;
        cursor: pointer;
    }
    .side-bar-button:hover{
        background-color: rgba(26, 26, 26, 0.664);
        transition: all .4s;
    }
    .side-bar-button:hover span{
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    .side-bar-button span{
        color: grey;
        font-size: 50px;
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
    }

/*              CONTAINER CONTENT                */
.container-content{
    background-color: white;
    border: solid #b2e7ff .5px;
    /* width: 103.8%; */
    width: 100%;
    height: 100%;
    /* border-radius: 5px 0px 0px 0px; */
    border-radius: 5px;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}

                                        /*              LOGIN SITE               */
.form-login{
    background-color: transparent;
    backdrop-filter: blur(100px);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/*              MEDIA QUERY                */
/*   Mobile   */
/***** Thiết bị có kích thước màn hình *****/
@media (max-width: 1023px) {
    /*      HEADER      */
        /* Logo */
        .logo{
            margin-top: 5px;
            background-color: black;
            padding: 0px;
            border-radius: 5px;
            text-align: center;
        }
        .logo a{
            height: 100%;
            display: block;
        }
        .logo img{
            /* width: 10%; */
            width: 50%;
        }
        /* Notification */
        .notifi_container{
            margin-top: 5px;
            height: 93%;
            border-radius: 5px;
        }
        /* Side bar */
        /* #sidebarcontainermobile{
            display: none;
        } */
        .side-bar li button{
            padding: 40px 60px 40px 60px;
        }
    /*          MAIN         */
    

    /*          LOGIN SITE             */
    .form-login{
        margin-top: 20px;
    }
    .logo a{
        padding: 20px;
    }
}
/*   Tablet   */
/***** Thiết bị có kích thước màn hình >= 740px (màn từ Tablet trở lên) *****/
@media (min-width: 740px) {
    
}
/***** Thiết bị có kích thước màn hình 740px - 1023px (màn của Tablet or Laptop có màn nhỏ) *****/
@media (min-width: 740px) and (max-width: 1023px) {
    
}
/*   PC   */
/***** Thiết bị có kích thước màn hình 1024px - 1239px (màn của PC or Laptop) *****/
@media (min-width: 1024px) and (max-width: 1239px) {
    
}
/***** Thiết bị có kích thước màn hình >= 1113px (PC or Laptop có màn lớn) *****/
@media (min-width: 1113px){
    
}