<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link type="image/png" sizes="32x32" rel="icon" href="img/icons8-cloud-94.png">
    <title>Login | CLOUDroom</title>
    <!-- Link thư viện cho grid system -->
    <link rel="stylesheet" href="../css/library_grid_system.css">
    <!-- Link file css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>LOGIN SITE</h1>
</body>
</html>