<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <link type="image/png" sizes="32x32" rel="icon" href="img/icons8-cloud-94.png">
    <title>Login | CLOUDroom</title>
    <!-- Link thư viện cho grid system -->
    <link rel="stylesheet" href="../css/library_grid_system.css">
    <!-- Link file css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container-login">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12 c-12 m-12">
                    <div class="col l-2 l-o-1 c-12 m-8 m-o-2" >
                        <div class="logo">
                            <a href="#">
                                <img src="img/logo-no-background.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col l-12 c-12 m-12">
                    <div class="col l-6 l-o-3 c-12 m-8 m-o-2" style="width: 100%;">
                        <div class="form-login grid wide">
                            <div class="row">
                                <div class="col l-12 c-12 m-12" style="text-align: center; font-size: 28px; font-family: 'Lato', sans-serif; font-weight: bold; color:black; line-height: 100px;">
                                    Login
                                </div>
                                <!-- Input nhập username -->
                                <div class="col l-6 l-o-3 m-12 c-12">
                                    <div class="row">
                                        <input id="username" name="username" placeholder="Username" type="text">
                                    </div>
                                </div>
                                <!-- Input nhập pass -->
                                <div class="col l-6 l-o-3 m-12 c-12">
                                    <div class="row">
                                        <input id="password" name="password" placeholder="Password" type="password">
                                    </div>
                                </div>
                                <!-- Nút continue -->
                                <div class="col l-6 l-o-3 m-12 c-12">
                                    <div class="row">
                                        <button class="btnContinue">Continue <i class="fa fa-arrow-right" style="margin-left: 5px;"></i></button>
                                    </div>
                                </div>
                                <!-- Create account -->
                                <div class="col l-6 l-o-3 m-12 c-12">
                                    <div class="row createaccount">
                                        <div class="col l-6 m-6 c-6">
                                            <p class="textcreateaccount">Haven't created an account yet ?</p>
                                        </div>
                                        <div class="col l-6 m-6 c-6" style="text-align: center; padding: 0;">
                                            <button class="btnCreateAcc">Create an account</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Forget password -->
                                <div class="col l-6 l-o-3 m-12 c-12 forgetpass">
                                    Forgot password ? <a href="">Click here</a>
                                </div>
                                <!-- Others way login -->
                                <div class="col l-6 l-o-3 m-12 c-12">
                                    <div class="row otherlogin">
                                        <p>Other way</p>
                                        <div class="col l-12 m-12 c-12 containerotherwaylogo">
                                            <a href=""><img src="https://i.pinimg.com/originals/74/65/f3/7465f30319191e2729668875e7a557f2.png" alt="logo google"></a>
                                            <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png" alt="logo facebook"></a>
                                            <a href=""><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="logo github"></a>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>